<% content_for :title, "SP 2050 - Modifier ton profil" %>
<% content_for :description, "Personnalise ton profil SP 2050. Mets à jour tes informations et préférences pour une meilleure expérience." %>

<!-- Ajout des meta robots pour éviter l'indexation des pages personnelles -->
<% content_for :meta_robots, "noindex, nofollow" %>

<div class="bg-black-100 flex flex-col items-center justify-center w-full" style="min-height: calc(100dvh - 60px);" data-controller="signup">
  <div class="flex flex-col p-sm items-center w-full md:w-[600px]"> 
    <div class="bg-white p-sm rounded-lg shadow">
      <h2 class="text-center text-xl">Editer mon profil</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :username, 
                        required: true, 
                        autofocus: true,
                        input_html: { class:'tw-form-input'},
                        label: "Nom d'utilisateur",
                        label_html: { class:"tw-form-label mt-sm"}
            %>
            <%= f.input :email, 
                        required: true,
                        input_html: { class:'tw-form-input'},
                        label: "Email",
                        label_html: { class:"tw-form-label mt-sm"}
            %>
            <%= f.input :age, 
                        required: true,
                        input_html: { 
                          class: 'tw-form-input',
                          value: resource.age
                        },
                        label: "Âge en 2050",
                        label_html: { class:"tw-form-label mt-sm"}
            %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password,
                        hint: "Laisse ce champ vide si tu ne souhaites pas le modifier",
                        required: false,
                        autocomplete: "off",
                        input_html: { autocomplete: "new-password" },
                        input_html: { class:'tw-form-input'},
                        label: "Nouveau mot de passe",
                        label_html: { class:"tw-form-label mt-sm"},
                        hint_html: { class: 'text-sm text-gray-400' } %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" },
                        input_html: { class:'tw-form-input'},
                        label: "Confirmation du nouveau mot de passe",
                        label_html: { class:"tw-form-label mt-sm"},
                        hint_html: { class: 'text-sm text-gray-400' } %>
            <%= f.input :current_password,
                        hint: "Nous avons besoin de ton mot de passe actuel pour confirmer les modifications",
                        required: true,
                        input_html: { autocomplete: "current-password" },
                        input_html: { class:'tw-form-input'},
                        label: "Mot de passe actuel",
                        label_html: { class:"tw-form-label mt-sm"},
                        hint_html: { class: 'text-sm text-gray-400' } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, 
                "Mettre à jour",
                {
                  class: "tw-btn-primary w-full mt-sm",
                  autocomplete: "off",
                  type: "submit",
                  "aria-label": "Mettre à jour",
                  "translate": "no",
                  data: { 
                    form_type: "other",
                    disable_with: "Mettre à jour",
                    auto_fill: "false"
                  },
                  style: "text-transform: none !important;"
                }
            %>
          </div>
        <% end %>

        <div class="text-sm mt-sm text-center"><%= button_to "Supprimer le compte", registration_path(resource_name), data: { confirm: "Es-tu sûr?", turbo_confirm: "Es-tu sûr?" }, method: :delete, class:"tw-btn-danger uppercase border border-red-500" %></div>
    </div>
  </div>
</div>



