<div class="flex flex-col items-center justify-center w-full" style="min-height: calc(100vh - 60px);" data-controller="signup">
  <div class="flex flex-col items-center w-full md:w-[600px]">   
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div id="registration-steps" class="p-none p-sm md:p-base text-center">
        <div class="step" id="step-intro" data-signup-target="step">
          <h3 class="text-xl uppercase text-center mb-sm">Introduction</h3>
          <p class="text-base text-center uppercase font-mono">Avant de commencer, pour mieux nous connaitre, nous allons discuter avec le toi du futur …</p>
          <button type="button" data-action="click->signup#nextStep" data-next-step="step-username" class="tw-btn-primary w-fit mt-sm">Commencer</button>
        </div>

        <div class="step" id="step-username" style="display: none;" data-signup-target="step">
          <h3 class="text-xl uppercase text-center">En 2050, par quel nom aimerais-tu être appelé ?</h3>
          <%= f.input :username,
                      required: true,
                      label: false,
                      wrapper_html: { class: 'mt-sm' },
                      input_html: { class: 'tw-form-input', 'data-action': 'input->signup#checkUsername', 'data-signup-target': 'username' } %>
          <div class="text-red-500 text-sm" data-signup-target="usernameError"></div>
          <div class="flex justify-between gap-sm">
            <button type="button" data-action="click->signup#previousStep" data-step-id="step-intro" class="tw-btn-secondary w-full mt-sm">Précédent</button>
            <button type="button" data-action="click->signup#nextStep" data-next-step="step-age" class="tw-btn-primary w-full mt-sm" data-signup-target="nextStepUsernameButton" disabled>Suivant</button>
          </div>
        </div>

        <div class="step" id="step-age" style="display: none;" data-signup-target="step">
          <h3 class="text-xl uppercase text-center">Quel âge auras-tu en 2050 ?</h3>
          <%= f.input :age,
                      required: true,
                      label: false,
                      wrapper_html: { class: 'mt-sm' },
                      input_html: { class: 'tw-form-input' } %>
          <div class="text-red-500 text-sm" data-signup-target="ageError"></div>
          <div class="flex justify-between gap-sm">
            <button type="button" data-action="click->signup#previousStep" data-step-id="step-username" class="tw-btn-secondary w-full mt-sm">Précédent</button>
            <button type="button" data-action="click->signup#nextStep" data-next-step="step-email-password" class="tw-btn-primary w-full mt-sm">Suivant</button>
          </div>
        </div>

        <div class="step" id="step-email-password" style="display: none;" data-signup-target="step">
          <h3 class="text-xl uppercase text-center">Quel est ton adresse email ?</h3>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      wrapper_html: { class: 'mt-sm' },
                      input_html: { autocomplete: "email", class: 'tw-form-input', 'data-action': 'input->signup#checkEmail', 'data-signup-target': 'email' } %>
          <div class="text-red-500 text-sm" data-signup-target="emailError"></div>
          <h3 class="mt-base text-xl uppercase text-center">Ton mot de passe ?</h3>
          <%= f.input :password,
                      required: true,
                      label: false,
                      wrapper_html: { class: 'mt-sm' },
                      input_html: { 
                        autocomplete: "new-password", 
                        class: 'tw-form-input',
                        'data-signup-target': 'password',
                        'data-action': 'input->signup#checkPassword'
                      } %>
          <div class="text-red-500 text-sm" data-signup-target="passwordError"></div>
          <div class="flex justify-between gap-sm">
            <button type="button" data-action="click->signup#previousStep" data-step-id="step-age" class="tw-btn-secondary w-full mt-sm">Précédent</button>
            <button type="button" data-action="click->signup#nextStep" data-next-step="step-terms" class="tw-btn-primary w-full mt-sm" data-signup-target="nextStepEmailButton" disabled>Suivant</button>
          </div>
        </div>


        <div class="step" id="step-terms" style="display: none;" data-signup-target="step">
          <h3 class="text-xl uppercase text-center">Conditions d'utilisation</h3>
          <h3 class="mt-sm text-2xl uppercase text-left">Futurs désirables</h3>
          <p class="text-sm text-left font-mono">Chaque histoire doit contribuer à imaginer un monde meilleur pour tous.tes. Acceptes-tu de respecter cette ligne directrice en partageant uniquement des futurs positifs et constructifs ?</p>
          <h3 class="mt-sm text-2xl uppercase text-left">Contenus respectueux</h3>
          <p class="text-sm text-left font-mono">En 2050, nous imaginons un monde fait de diversité et de respect. Aucun contenu (faisant la promotion de) discriminatoire, offensant ou haineux ne sera toléré. Peux-tu t’engager à respecter cette règle ?</p>
          <h3 class="mt-sm text-2xl uppercase text-left">Droit d’auteur.ice</h3>
          <p class="text-sm text-left font-mono">Chaque création est unique et précieuse. Veuilles à ne partager que des contenus dont tu es l'auteur.ice ou pour lesquels tu as obtenu les droits nécessaires. Acceptes tu de respecter les droits d'auteur.ice ?</p>
          <div class="flex justify-between gap-sm">
            <button type="button" data-action="click->signup#previousStep" data-step-id="step-email-password" class="tw-btn-secondary w-full mt-sm">Précédent</button>
            <%= f.button :submit, "Je m'inscris", class: "tw-btn-primary w-full mt-sm" %>
          </div>
          <p class="text-sm text-center mt-sm">En cliquant sur le bouton 'Je m'inscris', tu confirmes avoir pris connaissance et accepté les conditions d'utilisation</p>
        </div>
      </div>
    <% end %>
  </div>
  <div id="flash-messages" class="w-full mb-4" data-signup-target="flashMessages"></div>
</div>