<div class="bg-black-100 min-h-screen flex flex-col justify-center items-center">
  <div class="bg-white p-8 rounded-lg shadow w-full max-w-md">
    <h2 class="text-center text-2xl font-semibold">Réinitialiser votre mot de passe</h2>
    <p class="text-center text-gray-600 text-sm mt-2 mb-6">Entrez votre adresse email et nous vous enverrons des instructions pour réinitialiser votre mot de passe.</p>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class:'tw-form-input' },
                    label_html: { class:"tw-form-label mt-sm"} %>
      </div>

      <div class="form-actions mt-4">
        <%= f.button :submit, "Envoyer les instructions de réinitialisation", class:"tw-btn-primary w-full" %>
      </div>
    <% end %>

    <!-- Lien de retour à la connexion -->
    <div class="text-center mt-4">
      <%= link_to "Retour à la page de connexion", new_session_path(resource_name), class: "text-sm text-blue-500 hover:text-blue-700" %>
    </div>
  </div>
</div>


<!-- <%= render "devise/shared/links" %> -->
