<div data-actions-target="actionsPanel"
     class="slide-up hidden fixed flex flex-col bg-gray-200 dark:bg-gray-800 justify-evenly items-center lg:w-[calc((100vh-118px)*(250/350))] z-50 w-full h-[calc(100vh-118px)]"
     style="bottom: 59px;">
  <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
       data-action="click->actions#toggleShare">
    <i class="fa-solid fa-share mb-2 text-lg"></i>
    <p>Partager</p>
  </div>
  <% if user_signed_in? %>
    <%= turbo_frame_tag "favorite_button" do %>
      <% if current_user.favorites.exists?(post: @post) %>
        <%= button_to unfavorite_post_path(@post),
            method: :delete, 
            class: "flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700" do %>
          <i class="fa-solid fa-star mb-2 text-lg"></i>
          <p>Retirer des favoris</p>
        <% end %>
      <% else %>
        <%= button_to favorite_post_path(@post),
            method: :post, 
            class: "flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700" do %>
          <i class="fa-regular fa-star mb-2 text-lg"></i>
          <p>Ajouter aux favoris</p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="lg:hidden flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
       data-controller="bookmark"
       data-post-id="<%= @post.id %>"
       data-bookmark-position="<%= @bookmark&.character_position || 0 %>"
       data-action="click->bookmark#toggle click->actions#toggleAddBookmark">
    <i class="fa-solid fa-bookmark mb-2 text-lg"></i>
    <p>Marquer la page</p>
  </div>
  <div class="hidden flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
       data-action="click->actions#toggleReport">
    <i class="fa-solid fa-flag mb-2 text-lg"></i>
    <p>Signaler</p>
  </div>
  <% if user_signed_in? && current_user == @post.user %>
    <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
       data-action="click->actions#toggleEdit">
      <i class="fa-solid fa-pen-to-square mb-2 text-lg"></i>
      <p>Editer</p>
    </div>
    <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
       data-action="click->actions#toggleDelete">
      <i class="fa-solid fa-trash mb-2 text-lg"></i>
    <p>Supprimer</p>
  </div>
  <% end %>
</div>

<%= render "shared/actions" %>