<div class="grid grid-cols-6 gap-4 p-sm sm:gap-y-sm md:gap-y-base mt-2l mb-0">
    <div class="col-span-2">
        <p class="text-l sm:text-2xl md:text-xl">Typographies</p>
        <p class="text-l sm:text-2xl md:text-xl">Développement</p>
        <p class="text-l sm:text-2xl md:text-xl">Création</p>
    </div>
    <div class="col-span-4 text-right">
        <p class="text-l sm:text-2xl md:text-xl">Apfel Grotesk</p>
        <p class="text-l sm:text-2xl md:text-xl">Quentin Orhant et SuperSerif</p>
        <p class="text-l sm:text-2xl md:text-xl">Quentin Orhant</p>
    </div>
    <div class="col-span-6 h-[5px] sm-[8px] md:h-[10px] bg-gray-900">

    </div>
    <div class="col-span-2">
        <p class="text-l sm:text-2xl md:text-xl">2024</p>
    </div>
    <div class="col-span-4 text-right flex justify-end items-center gap-2">
        <%= link_to "https://creativecommons.org/licenses/by-nc-sa/4.0/", target: "_blank", class: "flex items-center gap-2" do %>
            <%= inline_svg_tag('cc.svg', class: 'overflow-visible w-4 h-4 sm:w-6 sm:h-6 md:w-8 md:h-8') %>
            <%= inline_svg_tag('nc.svg', class: 'overflow-visible w-4 h-4 sm:w-6 sm:h-6 md:w-8 md:h-8') %>
            <%= inline_svg_tag('by.svg', class: 'overflow-visible w-4 h-4 sm:w-6 sm:h-6 md:w-8 md:h-8') %>
            <%= inline_svg_tag('sa.svg', class: 'overflow-visible w-4 h-4 sm:w-6 sm:h-6 md:w-8 md:h-8') %>
        <% end %>
    </div>
</div>
