<div class="grid grid-cols-6 gap-4 p-sm gap-y-base mt-2xl mb-base">
    <div class="col-span-2">
        <p class="text-xl">Typographies</p>
        <p class="text-xl">Développement</p>
        <p class="text-xl">Création</p>
    </div>
    <div class="col-span-4 text-right">
        <p class="text-xl">Apfel Grotesk</p>
        <p class="text-xl">Quentin Orhant et SuperSerif</p>
        <p class="text-xl">Quentin Orhant</p>
    </div>
    <div class="col-span-6 h-[10px] bg-gray-900">

    </div>
    <div class="col-span-2">
        <p class="text-xl">2024</p>
    </div>
    <div class="col-span-4 text-right flex justify-end items-center gap-2">
        <%= link_to "https://creativecommons.org/licenses/by-nc-sa/4.0/", target: "_blank", class: "flex items-center gap-2" do %>
            <%= inline_svg_tag('cc.svg', class: 'w-8 h-8') %>
            <%= inline_svg_tag('nc.svg', class: 'w-8 h-8') %>
            <%= inline_svg_tag('by.svg', class: 'w-8 h-8') %>
            <%= inline_svg_tag('sa.svg', class: 'w-8 h-8') %>
        <% end %>
    </div>
</div>
