<nav class="bg-white border-b border-gray-200 sticky top-0 z-[99] h-navbar-height flex items-center" data-controller="navbar fullscreen">
  <div class="flex justify-between w-full px-sm">
    <div class="flex">
      <div class="flex flex-shrink-0 items-center gap-xs">
        <%= link_to root_path, class: "navbar-brand" do %>
          <h1>SP 2050</h1>
        <% end %>
        <span class="pb-[0.15em]">|</span>
        <%= link_to "Tous les futurs", posts_path, class: "text-sm font-mono" %>
      </div>
    </div>
    <div class="flex items-center">
      <% if user_signed_in? %>
        <%= link_to 'Nouveau futur', new_post_path, class: "tw-btn-primary" %>
      <% else %>
        <div class="flex gap-2">
        <%= link_to "Se connecter", new_user_session_path, class: "tw-btn-secondary" %>
        <%= link_to "Créer un compte", new_user_registration_path, class: "tw-btn-primary" %>
      <% end %>
      <!-- Add fullscreen button before other elements -->
      <button type="button" 
              class="pl-2 text-gray-500 hover:text-gray-700 focus:outline-none flex items-center justify-center"
              data-action="click->fullscreen#toggle">
        <span class="block flex items-center" data-fullscreen-target="enterIcon">
          <i class="fas fa-expand text-lg"></i>
        </span>
        <span class="hidden flex items-center" data-fullscreen-target="exitIcon">
          <i class="fas fa-compress text-lg"></i>
        </span>
      </button>
      <!-- Profile dropdown -->
      <% if user_signed_in? %>
        <div class="ml-4 md:flex md:flex-shrink-0 md:items-center">  
          <div class="relative">
            <div>
              <div class="h-8 w-8 relative flex items-center justify-center rounded-full bg-primary text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 cursor-pointer" data-action="click->navbar#toogleMenu">
                <span class="text-white" data-navbar-target="username">
                  <%= current_user.username[0].upcase %></span>
                <span class="hidden" data-navbar-target="closeMenu"><i class="text-white fa fa-close"></i></span>
              </div>
            </div>
            <div class="hidden absolute right-0 z-20 mt-6 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" data-navbar-target="menuDesktop">
              <%= link_to "Mes futurs", user_posts_path(current_user.id), class: "tw-nav-link" %>
              <%= link_to "Editer mon profil", edit_user_registration_path, class: "tw-nav-link" %>
              <%= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class: "tw-nav-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
