<nav class="bg-white dark:bg-gray-800 border-b dark:text-gray-100 border-gray-200 dark:border-gray-600 sticky top-0 z-[99] h-navbar-height flex w-full items-center" data-controller="navbar fullscreen">
  <div class="flex justify-between w-full px-xs md:px-sm">
    <div class="flex">
      <div class="flex flex-shrink-0 items-center gap-xs">
        <%= link_to root_path, class: "navbar-brand" do %>
          <h1>SP 2050</h1>
        <% end %>
        <span class="pb-[0.15em]">|</span>
        <%= link_to "Lire les futurs", posts_path, 
                    class: "text-sm font-mono",
                    data: { controller: "randomize-letter-animation", "randomize-letter-animation-text-value": "Lire les futurs", 
                    action: "mouseover->randomize-letter-animation#connect" } %>
      </div>
    </div>
    <div class="flex items-center">
      <% if user_signed_in? %>
        <%= link_to 'Nouveau futur', new_post_path, 
                      class: "max-sm:hidden tw-btn-primary p-2 text-sm",
                    data: { controller: "randomize-letter-animation", "randomize-letter-animation-text-value": "Nouveau futur", 
                    action: "mouseover->randomize-letter-animation#connect" } %>
      <% else %>
        <div class="flex max-sm:hidden gap-2 gap-1">
          <%= link_to "Se connecter", new_user_session_path, class: "tw-btn-secondary p-2 text-sm" %>
          <%= link_to "Créer un compte", new_user_registration_path, class: "tw-btn-primary p-2 mr-2 text-sm" %>
        </div>
        <div class="relative">
          <div class="flex sm:hidden sm:gap-2 gap-1 pr-2">
            <div class="tw-btn-secondary border-2 rounded-full h-8 w-8 p-2 text-sm" 
                 data-action="click->navbar#toogleSignin"
                 aria-label="Menu de connexion">
              <i class="fa fa-user ml-[0.1em]"></i>
            </div>
          </div>
          <div class="hidden absolute right-[-33px] text-center z-20 mt-6 w-40 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" data-navbar-target="menuSignin">
            <%= link_to "Se connecter", new_user_session_path, class: "tw-nav-link uppercase" %>
            <%= link_to "Créer un compte", new_user_registration_path, class: "tw-nav-link uppercase" %>
          </div>
        </div>
      <% end %>
      <!-- Profile dropdown -->
      <% if user_signed_in? %>
        <div class="ml-4 pr-2 md:flex md:flex-shrink-0 md:items-center">  
          <div class="relative">
            <div>
              <div class="h-8 w-8 relative flex items-center justify-center rounded-full bg-primary focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 cursor-pointer" data-action="click->navbar#toogleMenu">
                <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 leading-none text-white text-[14px] font-medium" data-navbar-target="username">
                  <%= current_user.username[0].upcase %>
                </span>
                <span class="hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 leading-none" data-navbar-target="closeMenu">
                  <i class="text-white fa fa-close text-[14px]"></i>
                </span>
              </div>
            </div>
            <div class="hidden absolute right-[-40px] text-center z-20 mt-6 w-40 origin-top-right text-sm rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" data-navbar-target="menuDesktop">
              <%= link_to 'Nouveau futur', new_post_path, 
                          class: "inline-block mt-1 sm:hidden tw-btn-primary p-2 text-sm",
                          data: { controller: "randomize-letter-animation", "randomize-letter-animation-text-value": "Nouveau futur", 
                          action: "mouseover->randomize-letter-animation#connect" } %>

              <% if current_user&.admin? %>
                <%= link_to "Administration", admin_dashboard_path, class: "tw-nav-link uppercase" %>
              <% end %>
              <%= link_to "Mes futurs", user_posts_path, class: "tw-nav-link uppercase" %>
              <%= link_to "Mes favoris", user_favorites_path, class: "tw-nav-link uppercase" %>
              <%= link_to "Editer mon profil", edit_user_registration_path, class: "tw-nav-link uppercase" %>
              <%= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class: "tw-nav-link uppercase" %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Add fullscreen button before other elements -->
      <button type="button" 
              class="pl-2 text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700 focus:outline-none flex items-center justify-center"
              data-action="click->fullscreen#toggle"
              aria-label="Basculer en mode plein écran">
        <span class="block flex items-center" data-fullscreen-target="enterIcon">
          <i class="fas fa-expand text-lg"></i>
        </span>
        <span class="hidden flex items-center" data-fullscreen-target="exitIcon">
          <i class="fas fa-compress text-lg"></i>
        </span>
      </button>     
    </div>
  </div>
</nav>
