<% content_for :title, "SP 2050 - Lire et écrire des futurs désirables" %>
<% content_for :description, "Une plateforme dédiée aux imaginaires désirables, où l'on imagine des futurs positifs pour demain. Lisez et partagez des histoires qui réinventent notre rapports aux autres, à la nature, à l'économie, aux technologies ..." %>

<!-- Ajoutez ceci juste avant votre div hero -->
<%= render 'shared/hero_animation' %>

<div class="h-[100vh] flex items-center justify-center">
  <div class="text-center">
    <div class="flex flex-col md:px-xl lg:px-2xl justify-center items-center h-full">
      <p class="text-2xl md:text-xl base:text-xxlish text-balance leading-normal" data-controller="text-reveal">
        Le solarpunk propose une vision optimiste d'un avenir durable, interconnecté avec la nature et la communauté ... à l'égard du changement climatique, de la pollution, des inégalités, des intolérances et discriminations sociales.
      </p>
      <p class="mt-base text-l md:text-2xl text-primary base:text-xxlish text-balance" data-controller="text-reveal">
        Source : wikipedia.org/wiki/Solarpunk
      </p>
    </div>
  </div>
</div>

<% if @posts.any? %>
  <div class="bg-black-100 py-xl">
    <div class="text-xxlish md:text-xxl uppercase text-center mb-8">
      <span>Les derniers futurs</span>
    </div>
    <div class="mx-4 sm:mx-6 md:mx-8 lg:mx-10">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 sm:gap-6 justify-items-center items-center">
        <% @posts.order(created_at: :desc).limit(10).each_with_index do |post, index| %>
          <div class="
            <%= 'hidden' if index >= 3 %>
            <%= 'sm:block' if index >= 3 && index < 4 %>
            <%= 'md:block' if index >= 4 && index < 6 %>
            <%= 'lg:block' if index >= 6 && index < 8 %>
            <%= 'xl:block' if index >= 8 %>
          ">
            <%= render "posts/post", post: post %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'shared/footer' %>
