<!-- Ajoutez ceci juste avant votre div hero -->
<%= render 'shared/hero_animation' %>

<!-- Hero -->
<div data-controller="hero-animation" class="hidden min-h-[calc(100dvh - 60px)] w-full lg:aspect-video flex items-center justify-center relative p-xl lg:p-2xl text-balance" style="background-image: url('<%= asset_path('homepage-image.png') %>')">
  <div class="flex flex-col z-10 items-center">
    <h1 class="text-gray-900 text-xxl md:text-display text-white text-center" data-hero-animation-target="title">
    Lire et écrire des futurs désirables</h1>
    <div>
      <div data-action="mousemove->hero-animation#handleMouseMove"></div>
    </div>
    <div class="flex gap-sm mt-sm" data-hero-animation-target="buttons">
      <%= link_to "Lire les futurs", posts_path, class: "tw-btn-primary text-center", data: { controller: "randomize-letter-animation", "randomize-letter-animation-text-value": "Lire les futurs" } %>
      <%= link_to "Écrire le futur", new_post_path, class: "tw-btn-secondary text-center",data: { controller: "randomize-letter-animation", "randomize-letter-animation-text-value": "Écrire le futur" } %>
    </div>
    <div class="absolute bottom-[10px] flex flex-col items-center">
      <span class="text-white text-sm font-mono uppercase">Explorer</span>
      <div class="h-[30px] w-[1px] overflow-hidden bg-white bg-opacity-30 mt-sm">
        <div class="h-[80px] w-[1px] bg-white animate-slide-down"></div>
      </div>
    </div>
  </div>
</div>

<div class="h-[100vh] flex items-center justify-center">
  <div class="text-center">
    <div class="flex flex-col md:px-xl lg:px-2xl justify-center items-center h-full">
      <p class="text-2xl md:text-xl base:text-xxlish text-balance leading-normal" data-controller="text-reveal">
        Le solarpunk propose une vision optimiste d'un avenir durable, interconnecté avec la nature et la communauté ... à l'égard du changement climatique, de la pollution, des inégalités, des intolérances et discriminations sociales.
      </p>
      <p class="mt-base text-l md:text-2xl text-primary base:text-xxlish text-balance" data-controller="text-reveal">
        Source : wikipedia.org/wiki/Solarpunk
      </p>
    </div>
  </div>
</div>

<div class="bg-black-100 py-xl">
  <div class="text-xxlish md:text-xxl uppercase text-center mb-8">
    <span>Les derniers futurs</span>
  </div>
  <div class="mx-4 sm:mx-6 md:mx-8 lg:mx-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 sm:gap-6 justify-items-center items-center">
      <% @posts.order(created_at: :desc).limit(10).each_with_index do |post, index| %>
        <div class="
          <%= 'hidden' if index >= 3 %>
          <%= 'sm:block' if index >= 3 && index < 4 %>
          <%= 'md:block' if index >= 4 && index < 6 %>
          <%= 'lg:block' if index >= 6 && index < 8 %>
          <%= 'xl:block' if index >= 8 %>
        ">
          <%= render "posts/post", post: post %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
