<% content_for :title, "SP 2050 - Connexion" %>
<% content_for :description, "Connectez-vous à votre compte SP 2050 pour partager vos récits et interagir avec la communauté solarpunk." %>
<% content_for :meta_robots, "noindex, nofollow" %>

<div class="bg-black-100 flex flex-col items-center justify-center w-full" style="min-height: calc(100dvh - 60px);">
  <div class="text-xl flex flex-col items-center w-full">
    <div class="bg-white p-sm rounded-lg shadow md:w-[400px]">
      <h2 class="text-center">Se connecter</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      label: "Adresse e-mail",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class:'tw-form-input' },
                      label_html: { class:"tw-form-label mt-sm"} %>
          <%= f.input :password,
                      label: "Mot de passe",
                      required: false,
                      input_html: { autocomplete: "current-password", class:'tw-form-input' },
                      label_html: { class:"tw-form-label mt-sm"} %>
          <%= f.input :remember_me,
                      label: "Se souvenir de moi",
                      as: :boolean,
                      input_html: { class: 'tw-form-checkbox mt-xs' },
                      label_html: { class: 'text-sm ml-xs' } if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Je me connecte", class:"tw-btn-primary w-full", data: { form_type: "other" } %>
        </div>
        <div class="text-center mt-4">
          <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "text-sm text-blue-500 hover:text-blue-700" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
