<% unique_id = @post.persisted? ? @post.id : SecureRandom.uuid %>
<div data-controller="chapter preview test"
     data-preview-username-value="<%= current_user.username %>"
     data-preview-initial-hue-value="<%= @post.pattern_settings.try(:[], 'hue') || rand(360) %>"
     data-test-unique-id-value="<%= unique_id %>"
     class="w-full">
  <%= form_with(model: @post, local: true, html: { multipart: true, class: "flex flex-col", data: { action: "submit->test#saveSVG submit->test#savePatternSettings" } }) do |form| %>

    <!-- Affichage des erreurs -->
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "erreur") %> erreurs ont empêché ce post d'être sauvegardé :</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="grid grid-cols-1  xl:grid-cols-7 gap-sm">
      <!-- Colonne de gauche (paramètres et aperçu) -->
      <div class="xl:col-span-3">
        <div class="p-sm rounded-lg  bg-gray-700 shadow w-full">
          <div class="flex gap-sm sm:flex-nowrap flex-wrap">
            <!-- Aperçu -->
            <div class="flex flex-col items-center justify-center max-sm:w-full">
              <!-- Pattern Container -->
              <div class="relative sm:h-[370px] sm:w-[calc(370px*250/350)] w-full h-full">
                <div class="absolute top-0 left-0">
                  <div class="px-xs py-[5px] mt-[-1px] text-l z-99 text-black w-4/5" data-test-target="titleWrapper">
                  </div>
                  <div class="px-xs py-[5px] mt-[6px] text-sm z-99 w-fit text-black" data-test-target="userName">
                    <%= current_user.username %>
                  </div>
                </div>
                <svg data-coversize-target="svg" shape-rendering="auto" viewBox="0 0 250 350" preserveAspectRatio="xMidYMid meet">
                  <defs>
                    <radialGradient id="gradient1-<%= unique_id %>" cx="50%" cy="50%" r="50%">
                      <stop offset="0%"/>
                      <stop offset="100%"/>
                    </radialGradient>
                    <radialGradient id="gradient2-<%= unique_id %>" cx="50%" cy="50%" r="50%">
                      <stop offset="0%"/>
                      <stop offset="100%"/>
                    </radialGradient>
                    <radialGradient id="gradient3-<%= unique_id %>" cx="50%" cy="50%" r="50%">
                      <stop offset="0%"/>
                      <stop offset="100%"/>
                    </radialGradient>
                  </defs>
                  <g data-test-target="curveGroup"></g>
                </svg>
              </div>
            </div>
            <!-- Paramètres de la couverture-->
            <div class="flex-grow min-w-0">
              <div class="flex justify-between items-center">
                <label for="body" class="text-white text-l tw-form-label">Couverture</label>
                <button type="button" class="tw-btn-primary text-sm py-1 px-2" data-action="click->test#randomize">Aléatoire</button>            
              </div>
              <div class="mt-xs">
                <!-- Controls -->
                <div class="mt-4 text-l text-white">
                  <div>
                    <label class="text-sm font-mono">Nombre de symétries:</label>
                    <div class="flex gap-4 text-sm font-mono mt-1 mb-2">
                      <label>
                        <input type="radio" name="symmetryMode" value="x4" data-test-target="symmetryMode" data-action="change->test#updateCurve">
                        <span class="align-middle">x4</span>
                      </label>
                      <label>
                        <input type="radio" name="symmetryMode" value="x8" data-test-target="symmetryMode" data-action="change->test#updateCurve">
                        <span class="align-middle">x8</span>
                      </label>
                      <label>
                        <input type="radio" name="symmetryMode" value="x16" data-test-target="symmetryMode" data-action="change->test#updateCurve">
                        <span class="align-middle">x16</span>
                      </label>
                    </div>
                  </div>
                  <div>
                    <label class="text-sm font-mono" for="colorPicker">Couleur:</label>
                    <input 
                      class="h-2 w-full cursor-ew-resize appearance-none rounded-full bg-primary disabled:cursor-not-allowed"
                      type="range"
                      id="hue"
                      data-test-target="colorPicker"
                      data-action="input->test#updateColors input->test#updateTitle input->test#updateCurve"
                      min="0"
                      max="360"
                      value="280"
                      style="background: linear-gradient(to right, 
                        hsl(0, 80%, 70%), 
                        hsl(60, 80%, 70%), 
                        hsl(120, 80%, 70%), 
                        hsl(180, 80%, 70%), 
                        hsl(240, 80%, 70%), 
                        hsl(300, 80%, 70%), 
                        hsl(360, 80%, 70%));"
                    >
                  </div>
                  <div>
                    <label class="text-sm font-mono" for="sliderX">Contrôle 1:</label>
                    <input type="range" 
                      data-test-target="firstSliderControl" 
                      data-action="input->test#updateCurve"
                      min="0" max="100" value="50" 
                      class="h-2 w-full cursor-ew-resize appearance-none rounded-full bg-primary disabled:cursor-not-allowed"
                    >
                  </div>
                  <div>
                    <label class="text-sm font-mono" for="sliderX3">Contrôle 2:</label>
                    <input type="range" 
                      data-test-target="secondSliderControl" 
                      data-action="input->test#updateCurve"
                      min="0" max="100" value="50" 
                      class="h-2 w-full cursor-ew-resize appearance-none rounded-full bg-primary disabled:cursor-not-allowed"
                    >
                  </div>
                  <div>
                    <label class="text-sm font-mono" for="rows">Nombre de lignes:</label>
                    <input 
                      type="range" 
                      data-test-target="rows" 
                      data-action="input->test#updateCurve"
                      min="1" 
                      max="5" 
                      value="1" 
                      class="h-2 w-full cursor-ew-resize appearance-none rounded-full bg-primary disabled:cursor-not-allowed"
                    >
                  </div>
                  <div>
                    <label class="text-sm font-mono" for="columns">Nombre de colonnes:</label>
                    <input 
                      type="range" 
                      data-test-target="columns" 
                      data-action="input->test#updateCurve"
                      min="1" 
                      max="5" 
                      value="1" 
                      class="h-2 w-full cursor-ew-resize appearance-none rounded-full bg-primary disabled:cursor-not-allowed"
                    >
                  </div>
                  <div>
                    <label class="text-sm font-mono" for="smoothing">Transformation:</label>
                    <input 
                      type="range" 
                      data-test-target="smoothing" 
                      data-action="input->test#updateCurve"
                      min="10" 
                      max="100" 
                      value="50" 
                      class="h-2 w-full cursor-ew-resize appearance-none rounded-full bg-primary disabled:cursor-not-allowed"
                    >
                  </div>
                  <%= form.hidden_field :pattern_settings, data: { test_target: "patternSettings" } %>
                  <%= form.hidden_field :cover, data: { test_target: "cover" } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-sm rounded-lg bg-white shadow w-full mt-sm">
          <label class="text-l tw-form-label">Code événement</label>
          <p class="text-sm text-gray-600 pb-2">Si ce futur fait partie d'un événement, tu peux indiquer le code ici</p>
          <%= form.text_field :event_code,
              value: @post.event_code&.code,
              class: "tw-form-input",
              placeholder: "optionnel"%>
        </div>
      </div>
      <!-- Colonne de droite (contenu) -->
      <div class="p-sm rounded-lg bg-white shadow w-full xl:col-span-4">
        <!-- Titre -->
        <label for="title" class="text-l tw-form-label">Titre</label>
        <div class="relative">
          <%= form.text_field :title, class: "tw-form-input", placeholder: "Futur titre", value: @post.title, required: true, data: { action: "input->test#updateTitle", test_target: "titleInput" } %>
          <p class="text-red-500 text-sm mt-1 hidden" data-preview-target="titleError">Le titre est requis</p>
        </div>

        <!-- Texte -->
        <div>
          <label for="body" class="mt-6 text-l tw-form-label">Texte</label>
          <%= form.text_area :body, class: "tw-form-input", rows: 10 %>
        </div>

        <!-- Chapitres -->
        <div class="mt-6">
          <div class="flex items-center justify-between">
            <span class="text-l">Chapitres</span>
            <%= button_tag "Ajouter", type: :button, class: "tw-btn-secondary", data: { action: "click->chapter#addChapter" } %>
          </div>
          <div id="chapters" data-chapter-target="chapters">
            <%= form.fields_for :chapters do |chapter_form| %>
              <div class="chapter-fields text-sm mt-xs" data-chapter-target="chapter">
                <div class="hidden" data-chapter-target="chapterIndex">
                  <%= chapter_form.options[:child_index] %>
                </div>
                <label class="tw-form-label">Titre du chapitre</label>
                <%= chapter_form.text_field :title, class: "tw-form-input" %>

                <label class="tw-form-label mt-2">Texte du chapitre</label>
                <%= chapter_form.text_area :body, class: "tw-form-input", rows: 5 %>

                <%= chapter_form.hidden_field :position %>
                <%= chapter_form.hidden_field :_destroy %>

                <%= link_to "Supprimer ce chapitre", "#", class: "tw-btn-secondary inline-block mt-2 mb-6", data: { action: "click->chapter#removeChapter" } %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Draft -->
        <div class="mt-sm">
          <label for="body" class="mt-6 text-l tw-form-label">Brouillon ?</label>
          <div class="mt-xs flex items-center gap-2">
            <%= form.check_box :draft, class: "tw-form-checkbox" %>
            <%= form.label :draft, "Marquer comme brouillon", class: "tw-form-label" %>
          </div>
        </div>

        <!-- CTA -->
        <div class="mt-sm">
          <% if @post.new_record? %>
            <%= form.submit "Créer le futur", class: "tw-btn-primary w-full", data: { action: "click->preview#validateForm" } %>
          <% else %>
            <%= form.submit "Éditer le futur", class: "tw-btn-primary w-full", data: { action: "click->preview#validateForm" } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
