<!-- Duotone filter -->
<%= render 'shared/duotonefilter' %>

<div data-controller="chapter preview" data-preview-username-value="<%= current_user.username %>" class="w-full">
  <%= form_with(model: @post, local: true, html: { multipart: true, class: "flex flex-col" }) do |form| %>
    
    <!-- Affichage des erreurs -->
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "erreur") %> erreurs ont empêché ce post d'être sauvegardé :</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="grid grid-cols-2 gap-sm">

      <!-- Colonne de gauche -->
      <div class="p-sm rounded-lg bg-white shadow w-full">
        
        <!-- Pattern Generator -->
        <div class="mt-sm relative">
          <label for="body" class="mt-8 text-l tw-form-label">Motif de couverture</label>
         
          <div class="mt-xs"> 
            <!-- Controls -->
            <div class="mt-4 text-l">
              <div>
                <label for="columns">Colonnes: <span data-preview-target="columnValue">1</span></label>
                <input type="range" id="columns" min="1" max="100" value="1" data-action="input->preview#updatePattern" data-preview-target="columns">
              </div>
              <div>
                <label for="rows">Lignes: <span data-preview-target="rowValue">1</span></label>
                <input type="range" id="rows" min="1" max="100" value="1" data-action="input->preview#updatePattern" data-preview-target="rows">
              </div>
              <div>
                <label for="hue">Couleur: </label>
                <input type="color" id="hue" value="#ff0000" data-action="input->preview#updatePattern" data-preview-target="hue">
              </div>
              <div>
                <label for="filled-squares">Carrés pleins: <span data-preview-target="filledValue">1</span></label>
                <input type="range" id="filled-squares" min="1" max="100" value="1" data-action="input->preview#updatePattern" data-preview-target="filledSquares">
              </div>
              <div>
                <label for="white-squares">Carrés blancs: <span data-preview-target="whiteValue">1</span></label>
                <input type="range" id="white-squares" min="1" max="100" value="1" data-action="input->preview#updatePattern" data-preview-target="whiteSquares">
              </div>
              <div>
                <label for="padding">Marge: <span data-preview-target="paddingValue">0</span>%</label>
                <input type="range" id="padding" min="0" max="50" value="0" data-action="input->preview#updatePattern" data-preview-target="padding">
              </div>
              <div class="mt-2">
                <button class="shape-button active" data-shape="square" data-action="click->preview#changeShape">Carré</button>
                <button class="shape-button" data-shape="ellipse" data-action="click->preview#changeShape">Ellipse</button>
                <button class="shape-button" data-shape="triangle" data-action="click->preview#changeShape">Triangle</button>
                <button class="shape-button" data-shape="losange" data-action="click->preview#changeShape">Losange</button>
              </div>
              <div class="mt-2">
                <input type="checkbox" id="complementary-bg" name="complementary-bg" data-action="change->preview#updatePattern" data-preview-target="complementaryBg">
                <label for="complementary-bg">Fond complémentaire</label>
              </div>
              <button class="tw-btn-secondary mt-2" data-action="click->preview#randomizeParameters">Aléatoire</button>
              <%= form.hidden_field :pattern_settings, data: { preview_target: "patternSettings" } %>

              <!-- Pattern Container -->
              <div class="relative w-[250px] border-2 border-gray-200 mt-4">
                <div class="absolute bottom-0 top-0 flex flex-col">
                <div class=" h-fit text-2l z-99" data-preview-target="titleWrapper">
                </div>
                  <div class="p-xs text-sm z-99 w-fit" data-preview-target="userName">
                    <%= current_user.username %>
                  </div>
                </div>
                <div id="pattern-container" data-preview-target="patternContainer" class="w-[250px] aspect-[9/14] overflow-hidden"></div>
            </div>
            <!-- Add this button near the other controls -->
            <button class="tw-btn-secondary mt-2" data-action="click->preview#exportSVG">Exporter SVG</button>
          </div>
        </div>
      </div>
    </div>
      
      
      <!-- Colonne de droite -->
      <div class="p-sm rounded-lg bg-white shadow w-full">
        <h2 class="text-center">Écrire un nouveau futur</h2>
        <!-- Titre -->
        <label for="title" class="mt-8 text-l tw-form-label">Titre</label>

        <!-- Contenu -->
        <%= form.text_field :title, class: "tw-form-input", data: { action: "input->preview#updateTitle", preview_target: "title" } %>

        <!-- Chapitres -->
        <div class="text-xl flex flex-col items-center w-full">
          <div class="bg-white rounded-lg w-full">
            <!-- Texte -->
            <div>
              <label for="body" class="mt-8 text-l tw-form-label">Texte</label>
              <%= form.text_area :body, class: "tw-form-input", rows: 10 %>
            </div>
            <!-- Chapitres -->
            <div class="mt-sm">
              <div class="flex items-center justify-between">
                <span class="text-l">Chapitres</span>
                <%= button_tag "Ajouter", type: :button, class: "tw-btn-secondary", data: { action: "click->chapter#addChapter" } %>
              </div>
              <div id="chapters" data-chapter-target="chapters">
                <%= form.fields_for :chapters do |chapter_form| %>
                  <div class="chapter-fields text-sm mt-xs" data-chapter-target="chapter">
                    <label class="tw-form-label">Titre du chapitre</label>
                    <%= chapter_form.text_field :title, class: "tw-form-input" %>

                    <label class="tw-form-label">Texte du chapitre</label>
                    <%= chapter_form.text_area :body, class: "tw-form-input", rows: 5 %>

                    <%= chapter_form.hidden_field :position %>
                    <%= chapter_form.hidden_field :_destroy %> <!-- Ajout d'un champ caché pour _destroy -->

                    <%= link_to "Supprimer ce chapitre", "#", class: "tw-btn-secondary", data: { action: "click->chapter#removeChapter" } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Draft -->
        <div class="mt-sm">
          <label for="body" class="mt-8 text-l tw-form-label">Brouillon ?</label>
          <div class="mt-xs flex items-center gap-2">
            <%= form.check_box :draft, class: "tw-form-checkbox" %>
            <%= form.label :draft, "Marquer comme brouillon", class: "tw-form-label" %>
          </div>
        </div>

        <!-- CTA -->
        <div class="mt-sm">
          <% if @post.new_record? %>
            <%= form.submit "Créer le futur", class: "tw-btn-primary w-full" %>
          <% else %>
            <%= form.submit "Éditer le futur", class: "tw-btn-primary w-full" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>



