<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<% if @post.photo.url.present? %>
  <%= image_tag @post.photo.url %>
<% end %>
<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %> |
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
