<%= link_to post, class: "text-xl transition-colors group opacity-100" , data: {
    staggered_animation_target: "element",
    stagger_count: 12,
    action: "mouseover->animation#postsGallery",
    turbo: false, turbo_stream: false
  } do %>
  <div class="w-[250px]" data-controller="cover">

    <input type="hidden" data-cover-target="title" value="<%= post.title %>">
    <input type="hidden" data-scroll-target="title" value="<%= post.title %>">
    <input type="hidden" data-cover-target="patternSettings" value="<%= post.pattern_settings %>">

    <div class="relative aspect-[9/14] overflow-hidden">
      <div class="absolute inset-0 flex flex-col justify-between">
        <div class="h-fit text-l z-10" data-cover-target="titleWrapper">
          <%= post.title %>
        </div>
        <div class="text-sm z-10 w-fit" data-cover-target="userName">
          <%= post.user.username %>
        </div>
      </div>
      <div class="cover-svg absolute inset-0 w-full h-full">
        <%= post.cover.html_safe %>
      </div>
    </div>
  </div>
<% end %>
