<% if !post.draft || current_user&.admin? || current_user == post.user %>
  <%= link_to post,
      class: "index-card group",
      data: {
        staggered_animation_target: "element",
        stagger_count: 12,
        cursor_marquee_text: "Lire"
      } do %>
    <div class="index-card__cover" data-controller="cover card-hover">
      <input type="hidden" data-cover-target="title" value="<%= post.title %>">
      <input type="hidden" data-cover-target="patternSettings" value="<%= post.pattern_settings %>">
      <input type="hidden" data-cover-target="postColor" value="<%= post.color %>">

      <%# SVG cover %>
      <div class="index-card__svg">
        <% if post.cover.present? %>
          <%= post.cover.html_safe %>
        <% elsif post.cover_image.present? %>
          <%= cl_image_tag post.cover_image.key, format: :webp, crop: :fill, aspect_ratio: "4:5", width: 500, class: "w-full h-full object-cover" %>
        <% end %>
      </div>

      <%# Title block overlay %>
      <div class="index-card__info">
        <div class="index-card__username" data-cover-target="userName">
          <%= post.user.username %>
        </div>
        <div class="index-card__title" data-cover-target="titleWrapper">
          <%= post.title %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
