<%= link_to post, class: "text-xl transition-colors group opacity-100" , data: {
    staggered_animation_target: "element",
    stagger_count: 12,
    action: "mouseover->animation#postsGallery",
    post_color: post.color,
    turbo: false, turbo_stream: false
  } do %>
  <div class="relative w-full aspect-video mb-xs overflow-hidden">
    <% if post.cover.present? %>
      <div class="cover-svg">
        <%= post.cover.html_safe %> <!-- Affiche le SVG stocké dans l'attribut cover -->
      </div>
    <% else %>
      <div class="cover-image">
      </div>
    <% end %>
  </div>
  <div class="flex justify-between text-sm font-mono uppercase text-gray-600">
    <span><%= post.user.username %></span>
    <span><%= post.created_at.strftime("%B %d, %Y") %></span>
  </div>
  <span class="leading-[120%] inline-block mt-xs"><%= post.title %></span>
<% end %>
