<% if !post.draft || current_user&.admin? || current_user == post.user %>
  <%= link_to post,
      class: "aspect-[5/7] w-full relative group overflow-hidden",
      data: {
        staggered_animation_target: "element", 
        stagger_count: 12,
        turbo: false, turbo_stream: false
      } do %>
    <div data-reading-time="<%= post.calculate_reading_time.to_i %>"></div>
    <div class="w-full h-full" data-controller="cover">

      <input type="hidden" data-cover-target="title" value="<%= post.title %>">
      <input type="hidden" data-cover-target="patternSettings" value="<%= post.pattern_settings %>">
      <input type="hidden" data-cover-target="postColor" value="<%= post.color %>">

      <div class="absolute h-full inset-0 flex flex-col justify-start">
        <div class="px-xs pt-[3px] h-fit text-2l z-10 w-4/5" data-cover-target="titleWrapper">
          <%= post.title %>
        </div>
        <div class="px-xs py-[5px] text-sm mt-xs z-10 w-fit" data-cover-target="userName">
          <%= post.user.username %>
        </div>
      </div>
      <div class="absolute inset-0 w-full">

        <% if post.cover_image.present? %>
          <%= cl_image_tag post.cover_image.key, format: :webp, crop: :fill, aspect_ratio: "5:7", width: 500, class: "w-full h-full object-cover group-hover:scale-105 transition-transform duration-300 ease-in-out" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>