<%= form_with(model: @post, local: true, html: { multipart: true }) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :photo, "Upload Image" %>
    <%= form.file_field :photo %>
    <%= form.check_box :image_rights %>
    <%= form.label :image_rights, "I certify that I have the rights to this image" %>
  </div>

  <div class="field" data-controller="unsplash">
    <%= form.label :unsplash_image_url, "Or choose an image from Unsplash" %>
    <%= text_field_tag :query, nil, placeholder: "Search Unsplash", data: { target: "unsplash.query" } %>
    <%= button_tag "Search", data: { action: "click->unsplash#search" }, type: :button %>
    <div data-target="unsplash.results"></div>
    <%= form.hidden_field :unsplash_image_url, data: { target: "unsplash.hidden" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
