<h1> Tous les posts </h1>

<svg style="visibility:hidden;" width="0" height="0">
  <filter id="duotone" color-interpolation-filters="sRGB">
    <feColorMatrix type="matrix" values="<%= hue_to_feColorMatrix(0) %>"></feColorMatrix>
  </filter>
</svg>

<% @posts.each do |post| %>
  <div class="d-flex">
    <%
      if post.color
        match = post.color.match(/hsl\((\d+), (\d+)%, (\d+)%\)/)
        hue = match[1].to_i
      else
        hue = 0
      end
      color_matrix = hue_to_feColorMatrix(hue)
    %>
    <%= link_to post, class: "card-link col-sm-5 col-lg-3 mb-4 d-flex" do %>
      <div class="book-cover" style="background-color: <%= post.color || 'transparent' %>; filter: brightness(0.8) contrast(1.5);">
        <div class="author-name"><%= post.user.username %></div>
        <div class="title"><%= post.title %></div>
        <% if post.photo.present? %>
          <svg style="visibility:hidden;" width="0" height="0">
            <filter id="duotone-<%= post.id %>" color-interpolation-filters="sRGB">
              <feColorMatrix type="matrix" values="<%= color_matrix %>"></feColorMatrix>
            </filter>
          </svg>
          <div class="image-container" style="background-image: url(<%= cl_image_path post.photo.key %>); filter: url(#duotone-<%= post.id %>);"></div>
        <% end %>
      </div>
    <% end %>
    <div class="d-flex align-items-center" >
      <p class="post-body"><%= truncate(post.body, length: 300) %></p>
    </div>
  </div>
<% end %>
