<div class="flex">
  <%= turbo_frame_tag :posts, class: "w-4/5" do %>
    <%= render "posts", posts: @posts %>
  <% end %>

  <!-- Sticky Filter Column -->
  <div class="w-1/5 sticky lg:top-[theme('top.navbar-height')] h-screen bg-gray-100 p-4">
    <%= form_with url: posts_path, method: :get, html: { data: { turbo: true, turbo_stream: true, controller: "search", "turbo-frame": "search", "turbo-action": "advance" } } do %>
      <%= text_field_tag :by_query,
          params[:by_query],
          class: "form-control",
          placeholder: "Rechercher...",
          data: { action: "input->search#submit" }
      %>
      <%= select_tag :by_author,
          options_from_collection_for_select(User.has_posts, "id", "username", params[:by_author]),
          prompt: "Par auteur",
          data: { action: "change->search#submit" }  %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
