<div class="flex flex-col lg:flex-row">
  <%= turbo_frame_tag :posts, class: "w-full lg:w-3/4 xl:w-4/5" do %>
    <div class="grid grid-cols-1 pl-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4">
      <%= render partial: "post", collection: @posts %>
    </div>
  <% end %>

  <!-- Colonne de filtrage -->
  <div class="w-full lg:w-1/4 xl:w-1/5 lg:sticky lg:top-[theme('top.navbar-height')] lg:h-screen bg-gray-100 p-4">
    <span class="text-gray-900 text-l">Filtrer</span>
    <%= form_with url: posts_path, method: :get, html: { data: { turbo: true, turbo_stream: true, controller: "search", "turbo-frame": "search", "turbo-action": "advance" } } do %>
      <%= text_field_tag :by_query,
          params[:by_query],
          class: "mt-4 block w-full rounded-md border-0 py-xxs text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-800 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm md:text-base",
          placeholder: "Rechercher...",
          data: { action: "input->search#submit" }
      %>
      <%= select_tag :by_author,
          options_from_collection_for_select(User.has_posts, "id", "username", params[:by_author]),
          prompt: "Tous les auteurs",
          class: "mt-4 block w-full rounded-md border-0 py-xxs text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-800 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm md:text-base",
          data: { action: "change->search#submit" }  %>
    <% end %>
  </div>
</div>

