<div class="flex">
  <div class="w-4/5"> 
    <h1 class="text-display px-sm">Tous les futurs</h1>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-sm flex-grow p-sm">      
      <% @posts.each do |post| %>
        <%= link_to post, class: "text-xl transition-colors", data: { 
          action: "mouseover->animation#postsGallery", 
          image_path: post.photo.attached? ? cl_image_path(post.photo.key) : '', 
          post_color: post.color 
        } do %>
          <div class="relative w-full aspect-video mb-2 overflow-hidden">
            <% if post.photo.attached? %>
              <%= cl_image_tag post.photo.key, class: "object-cover w-full h-full" %>
            <% else %>
              <div class="w-full h-full bg-gray-200 flex items-center justify-center">
                <span class="text-gray-400">No image</span>
              </div>
            <% end %>
          </div>
          <div class="flex justify-between text-sm font-mono uppercase text-gray-600">
            <span><%= post.user.username %></span>
            <span><%= post.created_at.strftime("%B %d, %Y") %></span>
          </div>
          <span><%= post.title %></span>
        <% end %>
      <% end %>
      <!-- Repeat for more posts -->
    </div>
  </div>
  <!-- Sticky Filter Column -->
  <div class="w-1/5 sticky lg:top-[theme('top.navbar-height')] h-screen bg-gray-100 p-4">
      <h2 class="text-lg font-bold">Filtrer</h2>
      <div class="mt-4">
          <h3 class="font-semibold">Categories</h3>
          <ul>
              <li><input type="checkbox" /> Fiction</li>
              <li><input type="checkbox" /> Essays</li>
              <li><input type="checkbox" /> Projects</li>
              <li><input type="checkbox" /> Design</li>
          </ul>
      </div>
      <div class="mt-4">
          <h3 class="font-semibold">Keywords</h3>
          <ul>
              <li><input type="checkbox" /> Science Fiction</li>
              <li><input type="checkbox" /> Cities</li>
              <li><input type="checkbox" /> Politics</li>
          </ul>
      </div>
  </div>
</div>