<%= turbo_stream.update "posts" do %>
  <div class="flex flex-row justify-between items-center p-xs sticky top-[theme('top.navbar-height')] z-20 bg-white">
    <h1 class="text-2l lg:text-display items-center flex"><%= @filters_active ? "Futurs trouvés" : "Tous les futurs" %>
      <div class="font-mono text-base md:text-2xl inline-flex items-center ml-xxs">
        <span>[</span>
        <div data-controller="randomize-letter-animation" data-randomize-letter-animation-text-value="<%= @posts.count %>"><%= @posts.count %></div>
        <span>]</span>
      </div>
    </h1>
    <span class="lg:hidden text-xs w-fit h-fit p-xxs cursor-pointer" data-action="click->filter#toggle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transition-all duration-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path data-filter-target="filterPath" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        <path data-filter-target="closePath" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </span>
  </div>
  <div class="m-auto justify-center p-xs pt-0">
    <%= render "posts", posts: @posts %>
  </div>
<% end %>
