<% content_for :title, "SP 2050 - #{@post.title}" %>
<% content_for :description, truncate(strip_tags(@post.body), length: 160) %>
<% content_for :article_meta do %>
  <meta property="article:published_time" content="<%= @post.created_at.iso8601 %>">
  <meta property="article:author" content="<%= @post.user.username %>">
  <meta property="og:type" content="article">
  <link rel="canonical" href="<%= post_url(@post, host: 'votre-domaine.fr') %>" />
<% end %>

<div data-controller="scroll cover text-to-speech actions svg-animation relative" 
     data-cover-hue-value="<%= @post.pattern_settings.present? ? JSON.parse(@post.pattern_settings)['hue'] : 0 %>"
     data-cover-pattern-settings-value="<%= @post.pattern_settings %>">
  
  <input type="hidden" data-cover-target="title" value="<%= @post.title %>">
  <input type="hidden" data-cover-target="patternSettings" value="<%= @post.pattern_settings %>">
  
  <%= render 'shared/settingspanel' %>
  <%= render 'shared/bottomnavbar' %>
  <%= render 'shared/actionspanel' %>

  <div class="flex flex-col lg:flex-row mx-auto dark:bg-gray-800 bg-gray-100">
    <!-- Colonne de gauche fixe -->
    <div data-controller="margin"
         data-margin-target="element" 
         class="relative lg:mb-0 mb-xl bg-gray-100 dark:bg-gray-600 lg:fixed flex justify-center lg:mr-0 mr-auto">
        <div class="relative cover-svg opacity-0">
          <div class="svg-full-height" data-controller="coversize">
            <%= @post.cover.html_safe %>
          </div>
          <div class="absolute top-0 left-0">
            <div class="h-fit text-xl z-99 opacity-0" data-cover-target="titleWrapper" data-svg-animation-target="title">
              <%= @post.title %>
            </div>
            <div class="text-base z-99 w-fit opacity-0" data-cover-target="userName" data-svg-animation-target="userName">
              <%= @post.user.username %>
            </div>
          </div> 
      </div>
    </div>

    <!-- Colonne de droite déroulante -->
    <div class="show-content bg-gray-100 dark:bg-gray-800 text-black-900 dark:text-gray-100 min-h-[calc(100dvh-60px)] px-sm lg:px-12 xl:px-xl pb-2xl flex-1 overflow-y-auto lg:ml-[calc((100dvh-120px)*(250/350))]">
      <!-- Intro and data -->
      <div class="flex justify-between font-mono text-sm py-sm uppercase">
        <div>
          <p>Publié le</p>
          <p data-controller="randomize-letter-animation" data-randomize-letter-animation-text-value="<%= @post.created_at.strftime("%d.%m.%Y") %>"><%= @post.created_at.strftime("%d.%m.%Y") %></p>
        </div>   
        <div class="text-right">
          <p>Temps de lecture</p>
          <p><%= @post.calculate_reading_time %></p>
        </div>
      </div>
      <% if @post.event_code_details %>
        <div class="w-1/2 font-mono text-sm">
          <% if @post.event_code_details[:link].present? %>
            <%= link_to @post.event_code_details[:link],
                        class: "text-sm", 
                        target: "_blank",
                        style: "color: #{@post.event_code_details[:color]};" do %>
              <%= @post.event_code_details[:text] %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="post-body" data-scroll-target="content">
        <div class="mt-lg adjustable w-full">
          <%= simple_format(@post.body) %>
        </div>
        <% if @post.chapters.any? %>
          <div class="adjustable w-full  pt-0 mt lg transition-opacity duration-1000" data-scroll-target="content" data-text-to-speech-target="content">
            <% @post.chapters.each_with_index do |chapter, index| %>
              <div class="mt-lg">
                <h2 class="text-2xl my-4">
                  Chapitre <%= index + 1 %> : <%= chapter.title %>
                </h2>
                <div class="mt-0">
                  <%= simple_format(chapter.body) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>