<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<% if @post.photo.present? %>
  <%
    # Extraire la teinte de la couleur HSL
    if @post.color
      match = @post.color.match(/hsl\((\d+), (\d+)%, (\d+)%\)/)
      hue = match[1].to_i
    else
      hue = 0
    end

    # Générer la matrice de couleurs pour le filtre SVG
    color_matrix = hue_to_feColorMatrix(hue)
  %>
  <svg style="visibility:hidden;" width="0" height="0">
    <filter id="duotone" color-interpolation-filters="sRGB">
      <feColorMatrix type="matrix" values="<%= color_matrix %>"></feColorMatrix>
    </filter>
  </svg>

  <div class="image-container">
    <%= cl_image_tag @post.photo.key, width: 600, height: 400, crop: :fill, style: "filter: url(#duotone);" %>
  </div>
<% end %>
<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %> |
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
