<%
  # Extract color values from @post.color
  match = @post.color.match(/hsl\((\d+),\s*(\d+)%,\s*(\d+)%\)/)
  
  if match
    hue = match[1].to_i
    saturation = match[2].to_i
    lightness = match[3].to_i
    
    # Convert HSL to RGB
    rgb_values = hsl_to_rgb(hue, saturation, lightness)
    r, g, b = rgb_values
    
    # Normalize RGB values to 0-1 range for SVG filter
    r_normalized = (r / 255.0).round(2)
    g_normalized = (g / 255.0).round(2)
    b_normalized = (b / 255.0).round(2)
  else
    # Default values if color format is invalid or not found
    r_normalized, g_normalized, b_normalized = 0, 0, 0
  end
%>

<!-- Duotone filter -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="hidden">
  <filter id="duotone">
    <feColorMatrix type="matrix" values="0.33 0.33 0.33 0 0
                                        0.33 0.33 0.33 0 0
                                        0.33 0.33 0.33 0 0
                                        0    0    0    1 0" result="grayImage"/>
    <feComponentTransfer>
      <feFuncR type="linear" slope="1" intercept="<%= r_normalized %>"/>
      <feFuncG type="linear" slope="1" intercept="<%= g_normalized %>"/>
      <feFuncB type="linear" slope="1" intercept="<%= b_normalized %>"/>
    </feComponentTransfer>
  </filter>
</svg>

<div data-controller="scroll text-to-speech">
  <nav class="bg-white fixed bottom-0 w-full z-[99] border-t border-gray-100 font-mono text-sm uppercase leading-[100%]">
    <div class="p-sm">
      <div class="flex justify-between">
        <div class="flex gap-xs">
        <p> <%= @post.color %> </p>
          <button data-action="click->text-to-speech#speak" class="flex gap-xs items-center"><span>  <%= inline_svg_tag('play.svg') %></span>Lecture audio</button>
          <span data-action="click->text-to-speech#stop" class="hidden">Stop la description audio</span>
          <span>|</span>
          <span><%= @post.calculate_spoken_time %></span>
        </div>
        <div class="flex gap-sm">
          <span class="tw-overtitre">Lecture <%= @post.calculate_reading_time %></span>
          <span class="text-gray-500"><span data-scroll-target="scrollPercentage">00</span>%</span>
        </div>
      </div>
    </div>
  </nav>

  <div class="flex flex-col lg:flex-row gap-sm lg:gap-xl min-h-screen relative">
    
    <!-- Colonne de gauche fixe -->
    <div class="w-full lg:w-1/3 lg:sticky h-[100vw] aspect-square lg:top-[theme('top.navbar-height')] max-h-screen flex flex-col items-center justify-center z-0 ">
      <div class="absolute top-0 left-0 z-[99]">
        <h1 class="text-display text-black-900 p-sm opacity-0" data-scroll-target="title" data-color-attribute="<%= @post.color %>"> <%= @post.title %></h1>
        <div class="relative p-sm">
          <span class="text-2xl" style="background-color: <%= @post.color %>">Peyo du 34</span>
        </div>
        <div class="flex gap-2 p-sm">
          <% if user_signed_in? && current_user == @post.user %>
            <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %>
            <%= link_to 'Delete', post_path(@post), data: { turbo_method: :delete }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>

      <div class="w-full h-full mb-4 origin-left overflow-hidden" data-scroll-target="postImage">
        <%= image_tag(@post.unsplash_image_url.present? ? @post.unsplash_image_url : (@post.photo.attached? ? cl_image_path(@post.photo.key, crop: :fill) : ''), 
                      class: "w-full h-full object-cover origin-center", 
                      style: "filter: url(#duotone)") %>
      </div>
    </div>

    <!-- Colonne de droite défilante -->
    <!-- Boucle sur les chapitres du post -->
    
    <div class="w-full lg:w-2/3 overflow-y-auto p-sm lg:p-0 lg:pr-sm">
      <div class="flex flex-col" data-scroll-target="content">
        <!-- Intro and data -->
        <div class="flex justify-between font-mono text-sm pt-sm uppercase">
          <div>
            <p>Publié le</p>
            <p data-controller="randomize-letter-animation"><%= @post.created_at.strftime("%d.%m.%Y") %></p>
          </div>
          <div>
            <p>Lecture moyenne</p>
            <p class="text-right"><%= @post.calculate_reading_time %></p>
          </div>
        </div>
        <% if @post.chapters.any? %>
          <div class="tw-content text-l pt-0 lg:pt-[50vh] transition-opacity duration-1000" data-scroll-target="content" data-text-to-speech-target="content"">
            <% @post.chapters.each_with_index do |chapter, index| %>
              <div class="mt-lg">
                <h2 class="text-2xl mt-lg">
                  Chapitre <%= index + 1 %> : <%= chapter.title %>
                </h2>
                <div class="mt-md">
                  <%= simple_format(chapter.body) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Previous / Next -->
<div class="bg-black-900 w-full flex h-full text-white p-xl">
  <div class="aspect-square h-full w-full flex flex-col gap-sm">
    <span>Titre précédent</span>
    <h2 class="text-display"> Équilibre instable </h2>
    <span>Quentin Ornant | 21.12.2024 | 8 min</span>
  </div>
  <div class="aspect-square h-full w-full flex justify-end flex-col gap-sm">
    <span>Titre suivant</span>
    <h2 class="text-display"> Équilibre instable </h2>
    <span>Quentin Ornant | 21.12.2024 | 8 min</span>
  </div>
</div>

<%= render 'shared/footer' %>
