<% if @post.photo.present? %>
  <%
    if @post.color
      match = @post.color.match(/hsl\((\d+), (\d+)%, (\d+)%\)/)
      hue = match[1].to_i
    else
      hue = 0
    end
    color_matrix = hue_to_feColorMatrix(hue)
  %>
  <% end %>
  
<svg style="visibility:hidden;" width="0" height="0">
  <filter id="duotone" color-interpolation-filters="sRGB">
    <feColorMatrix type="matrix" values="<%= color_matrix %>"></feColorMatrix>
  </filter>
</svg>

<div data-controller="scroll text-to-speech">

  <nav class="bg-white shadow sticky top-[theme('top.navbar-height')] z-[99]">
    <div class="py-sm px-sm lg:px-xl">
      <div class="flex justify-between">
        <span>Temps de lecture 2 min</span>
        <button data-action="click->text-to-speech#speak">Lire la description audio</button>
        <span data-action="click->text-to-speech#stop">Stop la description audio</span>
        <span>Scroll : <span data-scroll-target="scrollPercentage">00</span>%</span>
      </div>
    </div>
  </nav>

  <div class="flex gap-xl">
    <!-- Colonne de gauche fixe -->
    <div class="w-1/2 sticky top-[120px] max-h-screen flex flex-col items-center justify-center z-0">
      <%= cl_image_tag @post.photo.key, width: 300, height: 300, crop: :fill, class: "w-full h-full mb-4", style: "filter: url(#duotone);" %>
      <h1 class="text-2xl font-bold mb-2"><%= @post.title %></h1>
      <p class="text-gray-600"><%= @post.created_at.strftime("%d.%m.%Y") %></p>
      <div class="flex gap-2">
        <% if user_signed_in? && current_user == @post.user %>
          <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %>
          <%= link_to 'Delete', post_path(@post), data: { turbo_method: :delete }, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>

    <!-- Colonne de droite défilante -->
    <div class="w-1/2 overflow-y-auto p-8">
      <div class="tw-content text-xl" data-scroll-target="content" data-text-to-speech-target="content">
        <%= simple_format(@post.body) %>
      </div>
    </div>
  </div>
</div>

<!-- Previous / Next -->
<div class="bg-black-900 w-full flex h-full text-white p-xl">
  <div class="aspect-square h-full w-full flex flex-col gap-sm">
    <span>Titre précédent</span>
    <h2 class="text-display"> Équilibre instable </h2>
    <span>Quentin Ornant | 21.12.2024 | 8 min</span>
  </div>
  <div class="aspect-square h-full w-full flex justify-end flex-col gap-sm">
    <span>Titre suivant</span>
    <h2 class="text-display"> Équilibre instable </h2>
    <span>Quentin Ornant | 21.12.2024 | 8 min</span>
  </div>
</div>

<%= render 'shared/footer' %>