<div data-controller="cover text-to-speech actions svg-animation relative" 
     data-cover-hue-value="<%= @post.pattern_settings.present? ? JSON.parse(@post.pattern_settings)['hue'] : 0 %>"
     data-cover-pattern-settings-value="<%= @post.pattern_settings %>">
  
  <input type="hidden" data-cover-target="title" value="<%= @post.title %>">
  <input type="hidden" data-scroll-target="title" value="<%= @post.title %>">
  <input type="hidden" data-cover-target="patternSettings" value="<%= @post.pattern_settings %>">
  
  <%= render 'shared/settingspanel' %>
  <%= render 'shared/bottomnavbar' %>
  <%= render 'shared/actionspanel' %>
  <%= render 'shared/sharepanel' %>

  <div class="flex flex-col lg:flex-row mx-auto dark:bg-gray-800 bg-gray-100"
       data-controller="scroll"
       data-scroll-target="element"
       data-scroll-percentage-target="percentage" >
    <!-- Colonne de gauche fixe -->
    <div data-controller="margin"
         data-margin-target="element" 
         class="relative lg:mb-0 mb-xl bg-gray-100 dark:bg-gray-600 lg:fixed flex justify-center lg:mr-0 mr-auto">
        <div class="relative cover-svg opacity-0">
          <%= @post.cover.html_safe %>
          <div class="absolute top-0 left-0">
            <div class="h-fit text-2l z-99 opacity-0" data-cover-target="titleWrapper" data-svg-animation-target="title">
              <%= @post.title %>
            </div>
            <div class="text-sm z-99 w-fit opacity-0" data-cover-target="userName" data-svg-animation-target="userName">
              <%= @post.user.username %>
            </div>
          </div> 
      </div>
    </div>

    <!-- Colonne de droite déroulante -->
    <div class="show-content bg-gray-100 dark:bg-gray-800 text-black-900 dark:text-gray-100 h-full lg:px-xl px-sm pb-2xl flex-1 overflow-y-auto lg:ml-[calc((100vh-120px)*(250/350))]">
      <% if user_signed_in? && current_user == @post.user %>
        <div class="flex gap-2 p-sm">
          <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %>
          <%= link_to 'Delete', post_path(@post), data: { turbo_method: :delete }, class: "btn btn-danger" %>
        </div>  
      <% end %>
      <!-- Intro and data -->
      <div class="flex justify-between font-mono text-sm py-sm uppercase">
        <div>
          <p>Publié le</p>
          <p data-controller="randomize-letter-animation" data-randomize-letter-animation-text-value="<%= @post.created_at.strftime("%d.%m.%Y") %>"><%= @post.created_at.strftime("%d.%m.%Y") %></p>
        </div>
        <div>
          <p>Temps de lecture</p>
          <p class="text-right"><%= @post.calculate_reading_time %></p>
        </div>
      </div>
      <div class="post-body">
        <div class="mt-lg adjustable text-justify w-full">
          <%= simple_format(@post.body) %>
        </div>
        <% if @post.chapters.any? %>
          <div class="adjustable w-full  pt-0 mt lg transition-opacity duration-1000" data-scroll-target="content" data-text-to-speech-target="content">
            <% @post.chapters.each_with_index do |chapter, index| %>
              <div class="mt-lg">
                <h2 class="text-2xl mt-4">
                  Chapitre <%= index + 1 %> : <%= chapter.title %>
                </h2>
                <div class="mt-0 text-justify">
                  <%= simple_format(chapter.body) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>