<div class="bg-black-100 flex flex-col items-center justify-center w-full" style="min-height: calc(100dvh - 60px);" data-controller="signup">
  <div class="flex flex-col items-center w-full md:w-[700px] p-sm"> 
    <div class="bg-white p-sm rounded-lg shadow">
      <div class="sm:flex">
        <div class="sm:flex-auto">
          <h1 class="text-xl pt-sm text-center font-semibold leading-6 text-gray-900">Mes futurs</h1>
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="inline-block min-w-full py-2 align-middle px-xs">
          <div class="">
            <% if @posts.any? %>
              <div class="m-auto p-2 justify-center grid grid-cols-1 sm:grid-cols-2 gap-4">
                <% @posts.each do |post| %>
                  <div class="w-[240px] h-auto justify-center justify-self-center mx-auto text-xl transition-colors group bg-white opacity-100 overflow-hidden">
                    <%= link_to post, class: "block" do %>
                      <div class="w-[240px] h-[calc(240px*1.4)]" data-controller="cover coversize">
                        <input type="hidden" data-cover-target="title" value="<%= post.title %>">
                        <input type="hidden" data-scroll-target="title" value="<%= post.title %>">
                        <input type="hidden" data-cover-target="patternSettings" value="<%= post.pattern_settings %>">
                        <input type="hidden" data-cover-target="postColor" value="<%= post.color %>">
                        <div class="relative aspect-[9/14] overflow-hidden">
                          <div class="absolute inset-0 flex flex-col justify-start">
                            <div class="h-fit text-l z-10" data-cover-target="titleWrapper">
                              <%= post.title %>
                            </div>
                            <div class="text-sm z-10 w-fit" data-cover-target="userName">
                              <%= post.user.username %>
                            </div>
                          </div>
                          <div class="cover-svg absolute inset-0 w-[240px] h-[calc(240px*1.4)]" data-controller="coversize">
                            <%= post.cover.html_safe %>
                          </div>
                          <div class="absolute bottom-12 left-0 right-0 flex justify-center gap-2 p-2 bg-white bg-opacity-75">
                            <%= link_to 'Editer', edit_post_path(post), class: "tw-btn-secondary uppercase inline-block" %>
                            <%= link_to 'Supprimer', post_path(post), data: { turbo_method: :delete }, class: "tw-btn-danger uppercase inline-block" %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="text-center text-gray-500">
                  <p>Tu n'as pas encore créé de futurs.</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>