<!DOCTYPE html>
<html>
  <head>
    <title>SP 2050</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if user_signed_in? %>
      <meta name="user-logged-in" content="true">
    <% else %>
      <meta name="user-logged-in" content="false">
    <% end %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/flashes' %>
  </body>
</html>
