<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "SP 2050" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Description par défaut de SP 2050' %>">
    <script src="//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js"></script>
    <script type="module">
      import BugsnagPerformance from '//d2wy8f7a9ursnm.cloudfront.net/v1/bugsnag-performance.min.js'
      Bugsnag.start({ apiKey: '412b86730e7d4f1b0e9f63f5dd2d8a7f' })
      BugsnagPerformance.start({ apiKey: '412b86730e7d4f1b0e9f63f5dd2d8a7f' })
    </script>
    <!-- Balises Open Graph pour les réseaux sociaux -->
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'SP 2050' %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : 'Description par défaut de SP 2050' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <!-- Balises existantes -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/ios_pwa_links' %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if user_signed_in? %>
      <meta name="user-logged-in" content="true">
    <% else %>
      <meta name="user-logged-in" content="false">
    <% end %>
    
    <!-- Meta robots dynamique -->
    <meta name="robots" content="<%= content_for?(:meta_robots) ? yield(:meta_robots) : 'index, follow' %>">
    
    <!-- Lien canonique dynamique -->
    <%= yield(:canonical_url) if content_for?(:canonical_url) %>
    
    <!-- Meta tags pour le partage social -->
    <meta property="og:site_name" content="SP 2050">
    <meta property="og:locale" content="fr_FR">
    <meta name="twitter:card" content="summary_large_image">
    
    <!-- Meta tags spécifiques aux articles -->
    <% if content_for?(:article_meta) %>
      <%= yield(:article_meta) %>
    <% end %>
    <%= yield :meta_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/flashes' %>
  </body>
</html>
